body{
    width: 100%;
    background-color: #f1f1f1;
    font-size: 9pt;
    font-family: Merriweather,Open Sans,Microsoft Jhenghei,Microsoft Yahei,sans-serif;
    color: #3a4145;
}

#MathJax_Message{
    position: fixed;
    left: 1em;
    bottom: 1.5em;
    background-color: #E6E6E6;
    border: 1px solid #959595;
    margin: 0;
    padding: 2px 8px;
    z-index: 102;
    color: black;
    font-size: 80%;
    width: auto;
    white-space: nowrap;
}
a{
    outline: 0;
    color: #2daebf;
}
#home{
    margin: auto;
    width: 65%;
    max-width: 840px;
    background-color: hsla(0,0%,100%,.9);
    padding: 0 30px 30px;

}


#header{
    padding-bottom: 5px;
    margin-top: 10px;

}
#loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    z-index: 1099;
    width: 100vw;
    height: 100vh;
}

#blogTitle{
    height: 60px;
    clear: both;

}
#blogTitle h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 20px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
#blogTitle h2{
    font-weight: 400;
    font-size: 13px;
    line-height: 1.846153846;
    color: #757575;
    float: left;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

#navigator{
    font-size: 13px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height: 50px;
    clear: both;
    margin-top: 25px;
}
#navList{
    min-height: 30px;
    float: left;
}
#navList li{
    float: left;
    margin: 0 40px 0 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}
#navList a{
    display: block;
    width: 5em;
    height: 22px;
    float: left;
    text-align: center;
    padding-top: 19px;
}
#navList a:visited{
    color: #6a6a6a;
    font-weight: 700;
}

.blogStats{
    float: right;
    color: #757575;
    margin-top: 19px;
    margin-right: 2px;
    text-align: right;
}
#main{
    width: 100%;
    text-align: left;
    margin-top: 30px;

}
#mainContent{
    min-height: 200px;
    padding: 0 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    float: none;
    margin: auto;
    width: 100%;
}
#mainContent .forFlow{
    float: none;
    width: auto;
}
.day{
    min-height: 10px;
    position: relative;
    max-width: 830px;
    margin: 3.5rem auto;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #ebf2f6;
    word-wrap: break-word;
}
.dayTitle{
    display: none;
    border: 1px solid #21759b;
    background: azure;
    border-radius: 50%;
    font-size: 9pt;
    height: 65px;
    line-height: 1.5;
    text-align: center;
    width: 63px;
    margin: 15px 15px 15px -75px;
    clear: both;
    position: absolute;
    top: -15px;
}
.postTitle{
    font-size: 20px;
    float: right;
    width: 100%;
    clear: both;
}
.postTitle a:link{
    background-color: transparent;
    color: #4a4a4a;
    font-family: Open Sans,Microsoft Jhenghei,Microsoft Yahei,sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -1px;
    transition-delay: 0s;
    transition-duration: .3s;
    transition-property: color;
    transition-timing-function: ease;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
}
.postTitle a:visited {
    color: #4a4a4a;
    transition: color .3s ease;
}

.postCon{
    width: 100%;
    clear: both;
    padding: 10px 0;
    color: #3a4145;
    font-family: Merriweather,Open Sans,Microsoft Jhenghei,Microsoft Yahei,sans-serif;
    margin: 0;
    font-size: 1pc;
    line-height: 1.7em;
    word-wrap: break-word;
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}



.desc{
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
}

.clear{
    clear: both;
}
.postDesc{
    float: left;
    width: 100%;
    clear: both;
    text-align: left;
    padding-right: 5px;
    margin: 0;
    font-family: Open Sans,sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #9eabb3;
}

#sideBar{
    margin-top: -15px;
    width: 230px;
    padding: 0 0 0 5px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
}
.newItem{
    background: #fff;
    margin-bottom: 35px;
    word-wrap: break-word;
}
#blog_new{
    overflow: hidden;
}
.main-header{
    display: table;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    text-align: center;
    background: #222 url(logo.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    box-shadow: 0 1px 2px hsla(0,0%,59%,.7);
}

.topicListFooter{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
#footer{
    min-height: 75pt;
    position: absolute;
    margin: 200px 0 0;
    left: 0;
    right: 0;
    background: #232323;
    padding: 17px 0 27px;
    text-align: center;
    color: #888;
    font-size: 9pt;
    line-height: 1.5;
}